
@media only screen and (max-width: 1440px) {
    .content__img__border {
        width: 418px;
        height: 100%;
    }

    .container {
        max-width: 1170px;
    }

    .img__marketing {
        width: 520px;
        height: 442px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 900px;
    }

    .list-item {
        font-size: .8em;
    }

    .tag {
        font-size: 1.5em;
    }

    .name-company {
        font-size: 2.4em;
    }

    .container__hole {
        width: 345px;

    }

    .hole__price {
        font-size: 1.5em;
        top: 25%;
        left: 35%;
    }

    .contact-triangle {
        border-width: 20px 105px 70px 0;;
    }

    .triangle__mail, .triangle__skype {
        left: 55px;
    }

    .tag-triangle {
        font-size: 1.35em;
    }

    .nav__list .list-item:nth-child(2) {
        text-align: center;
    }

    .wrap-logo {
        max-width: 250px;
    }

    .wrap-content {
        flex-wrap: wrap;
    }

    .detail-txt {
        font-size: 1em;
    }

    .det-mon, .det-percent, .det-bottle, .det-pay {
        width: 98px;
        height: 94px;
    }

    .about-img {
        width: 135px;
        height: 136px;
    }

    .contact-txt {
        font-size: 1em;
    }

    .according__head {
        font-size: .9em;
    }

    .faq-h2 {
        font-size: 1.2em;
    }

    .footer-logo {
        font-size: 1.2em;
    }

    .holder {
        font-size: .77em;
    }

    .wrap-img-link img {
        width: 30px;
        height: 30px;
    }

    .according__body {
        font-size: .9em;
    }

}

@media only screen and (max-width: 880px) {

    .container {
        max-width: 640px;
    }

    .tag-triangle {
        font-size: 1em;
    }

    #toTop {
        display: none !important;
    }

    .holder {
        display: none;
    }

    .footer-logo {
        font-size: 2em;
    }


    .wrap-logo {
        margin: 0 auto;
        font-family: Montserrat, sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        color: #3366cc;
        padding: 5vh 0;
    }

    .wrap-menu {
        display: none !important;
    }

    .container__navbar-mob {
        display: block !important;
    }

    .about-img {
        width: 105px;
        height: 106px;
    }

    .contact-txt {
        font-size: .82em;
    }

    .item-1-text {
        text-align: justify;
        width: 100%;
    }

}

@media only screen and (max-width: 760px) {
    .container {
        max-width: 640px;
        margin: 0 auto;
    }

    .contact-triangle {
        border-width: 20px 100px 65px 0;
    }

    .contact-txt {
        font-size: 12px;
    }

    .hole__price {
        font-size: 25px;
    }

    .tag-triangle {
        font-size: 20px;
    }

    .holder__according {
        width: 600px;
    }

}

@media only screen and (max-width: 640px) {
    .container {
        max-width: 520px ;
    }

    .img-tw, .img-fb, .img-g {
        width: 22px;
        height: 22px;
    }

    .hole__price {
        font-size: 24px;
    }

    .contact-triangle {
        border-width: 20px 75px 40px 0;
    }

    .triangle__mail, .triangle__skype {
        left: 43px;
        width: 20px;
        height: 20px;
    }

    .wrap-detail {
        max-width: 50%;
    }

    .det-pay, .det-mon, .det-percent, .det-bottle {
        width: 50px !important;
        height: 52px !important;

    }

    .detail-txt {
        margin-top: 20px;
        width: 80%;
        font-size: 15px !important;

    }

    .wrap-detail {
        width: 100%;
    }

    .holder-triangle {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .place {
        width: 51%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .about-img {
        width: 90px;
        height: 90px;
    }

    .contact-txt {
        font-size: 16px;
        min-width: 100%;
    }

    .contact-item {
        font-size: 30px;
    }

    .holder__according {
        width: 500px;

    }

    .according__head {
        font-size: 16px;
    }

    .according__body {
        font-size: 16px;
        font-weight: 500;
    }

    .faq-h2 {
        font-size: 20px;
    }

    .item-1-text {
        width: 100%;
    }

    .tag-triangle {
        font-size: 16px;
    }

}

@media only screen and (max-width: 550px) {
    .container {
        max-width: 450px;
    }

    .img__marketing {
        width: 430px;
        height: 100%;
    }

    .item-1-text {
        text-align: center;
    }

    .place {
        width: 100%;
        align-items: center;
        justify-content: left;
    }

    .holder__according {
        width: 420px;
    }

    .contact-txt {
        min-width: 60%;
        font-size: 19.5px;
    }

    .contact-triangle {
        border-width: 15px 70px 40px 0;
    }

    .det-mon, .det-bottle, .det-percent, .det-pay {
        width: 80px !important;
        height: 72px !important;
    }

    .tag-triangle {
        font-size: 14.5px;
        margin: 0 5px;
    }

}

@media only screen and (max-width: 451px) {
    .container {
        max-width: 350px;
    }

    .img-fb, .img-g, .img-tw {
        width: 20px;
        height: 20px;
    }

    .social-link__g {
        margin: 0 2px;
    }

    .skype-name {
        margin: 0 0 0 2px;
    }

    .mail-name {
        margin-left: 2px;
    }

    .info__mail {
        margin-left: 20px;
    }

    .container__hole {
        width: 250px;
        height: 70px;
    }

    .contact-triangle {
        border-width: 15px 66px 40px 0;
    }

    .triangle__skype, .triangle__mail {
        left: 37px;
    }

    .tag-triangle {
        margin-left: 5px;
        font-size: 12px;
    }

    .img__marketing {
        width: 250px;
    }

    .content__img__border {
        width: 210px;
        top: 0;
    }

    .item-1-text {
        text-align: justify;
        font-size: 16px;
    }

    .holder__according {
        width: 300px;
    }

    .detail-txt {
        font-size: 15px !important;
    }

    .info__skype {
        margin-left: 15px;
    }

    .according__head {
        font-size: 13px;
    }

    .contact-txt {
        font-weight: 600;
    }

}

@media only screen and (max-width: 320px) {
    .container {
        width: 250px;
    }

    .img-skype, .img-email {
        display: none;
    }

    .mail-name {
        font-size: 9px;
    }

    .skype-name {
        font-size: 9px;
    }

    .txt-link {
        font-size: 15px;
    }

    .contact-txt {
        font-size: 15px;
    }

    .det-pay, .det-percent, .det-bottle, .det-mon {
        width: 60px !important;
        height: 60px !important;
    }

    .img-tw, .img-g, .img-fb {
        width: 12px;
        height: 12px;
    }

    .container__wrap-nameComp {
        font-size: 1.2em;
    }

    .container__hole {
        width: 200px;
        height: 60px;
    }

    .hole__price {
        font-size: 1.45em;
        left: 33.2%;
    }

    .tag-triangle {
        display: none;
    }

    .wrap-contact {
        width: 70%;
        justify-content: space-between;
        margin: 0 auto;
    }

    .post-btn {
        width: 180px;
        height: 44px;
    }

    .detail-txt {
        font-size: 15px !important;
    }

    .holder__according {
        width: 250px;
    }

    .according__head {
        font-size: 12px;
    }

    .according__body {
        font-size: 14px;
    }

    .footer-logo {
        font-size: 15.5px;
    }

    .wrap-img-link img {
        width: 20px;
        height: 20px;
    }

    .page__footer {
        padding: 12% 0;
    }

}

@media (min-width: 768px) {


    html {
        font-size: 62.5%;
    }

}

@media (max-width: 767px) {

    html {
        font-size: 50%;
    }

}

.page {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    color: var(--colorBlack);

    margin: 0;
    -webkit-overflow-scrolling: touch;
}

:root {
    --colorBlack: #222;
    --colorWhite: #fff;
    --colorGray: #f0f0f0;
    --colorMain: #4557bb;
    --colorMainLight: #8491d8;
    --colorMainDark: #233286;
}

a {
    color: var(--colorMain);
}


.page__demo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page__container {
    max-width: 370px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.page__name {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.page__hint {
    display: block;
    line-height: 1.45;
    margin-bottom: .5rem;
}

.custop {
    text-decoration-color: #f0f0f0;
    animation-timing-function: ease-in-out;
    glyph-orientation-vertical: initial;
}

.footer-logo {
    display: grid;
    grid-auto-columns: fit-content(1fr);
    grid-column-gap: unset;
    grid-column-start: span;
    grid-gap: initial;
}
